h1{
    font-size: 45px;
}
p{
    color: dimgray;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.name-heighlight{
    color: orange;
}
.box{
    width: 40%;
    float:left ;
    margin-left: 5%;
    padding-left: 2%;
}
.box img{
    width: 100%;
}
.back{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient( rgb(156, 219, 7),orange);
    border-radius: 10px;
    color: brown;
    font-weight: bold;
}
.back-photo{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
    background-size: 95px;
}
#look{
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
    height:80%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,orange,red);
    border-image-slice: 1;
}
#look-two{
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
    height:80%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(255, 0, 21),rgb(247, 0, 255));
    border-image-slice: 1;   
}
.experience-bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 85px;
}
footer p{
    text-align: center;
    font-size: 12px;
}